Repository DataCater/datacater, pull requests merged in 2023-06, with the labels that each got.

#221 feat(deployments/logs): Support defining tailingLines
  platform-api/src/main/java/io/datacater/core/deployment/DeploymentEndpoint.java
  platform-api/src/main/java/io/datacater/core/deployment/DeploymentUtilities.java
  platform-api/src/main/java/io/datacater/core/deployment/K8Deployment.java
Labels: enhancement, api

#217 implemented a possibility to query for in-cluster deployments
  .github/workflows/build-test.yaml
  platform-api/src/main/java/io/datacater/core/deployment/DeploymentEndpoint.java
  platform-api/src/main/java/io/datacater/core/deployment/DeploymentEntity.java
  platform-api/src/main/java/io/datacater/core/deployment/DeploymentUtilities.java
  platform-api/src/test/java/io/datacater/core/deployment/DatacaterDeploymentEndpointTest.java
  platform-api/src/test/resources/deploymentTests/deployment.json
Labels: enhancement, api

#226 fix: fix injection bug introduced after refactoring pipelines
  platform-api/src/main/java/io/datacater/core/pipeline/PipelineEndpoint.java
Labels: bug, python-runner

#225 UI: remove incorrect <a> tags
  ui/src/components/configs/Tabs.js
  ui/src/components/layout/ApiCall.js
  ui/src/components/layout/Header.js
  ui/src/components/pipelines/pipeline_designer/context_bar/DebugView.js
  ui/src/components/pipelines/pipeline_designer/context_bar/Field.js
  ui/src/components/pipelines/pipeline_designer/context_bar/Record.js
  ui/src/components/pipelines/pipeline_designer/grid/StepsList.js
  ui/src/containers/configs/EditConfig.js
  ui/src/containers/configs/NewConfig.js
  ui/src/containers/deployments/EditDeployment.js
  ui/src/containers/deployments/NewDeployment.js
  ui/src/containers/pipelines/NewPipeline.js
  ui/src/containers/streams/EditStream.js
  ui/src/containers/streams/NewStream.js
Labels: ui

#230 feat(api/deployments): Forward health response status
  platform-api/src/main/java/io/datacater/core/deployment/DeploymentEndpoint.java
  platform-api/src/main/java/io/datacater/core/exceptions/UnhealthyDeploymentException.java
  platform-api/src/main/java/io/datacater/core/exceptions/UnhealthyDeploymentExceptionMapper.java
Labels: api
